
{% block content %}
    <h2>Protected files</h2>
    <a href="{% url "protected657:add" %}">Add File</a>
    <table width="50%">
        <thead>
            <tr>
                <th>Title</th>
                <th>File</th>
                <th>Site</th>
                <th>Created by</th>
                <th>Created at</th>
            </tr>
        </thead>
        {% for file in object_list %}
            <tr>
            <td>{{ file }}</td>
            <td><a href="{{ file.file.url }}">{{ file.file.name }}</a></td>
            <td>{{ file.site }}</td>
            <td>{{ file.created_by }}</td>
            <td>{{ file.created_at }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}